[submodule "subs/assimp"]
	path = subs/assimp
	url = https://github.com/assimp/assimp.git
	branch = bd64cc88dff17f118ecf32ebcbacaf566f6b6449
[submodule "subs/yaml-cpp"]
	path = subs/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp
	branch = c73ee34704c512ebe915b283645aefa9f424a22f
[submodule "subs/glfw"]
	path = subs/glfw
	url = https://github.com/glfw/glfw
	branch = c18851f52ec9704eb06464058a600845ec1eada1
[submodule "subs/pugixml"]
	path = subs/pugixml
	url = https://github.com/zeux/pugixml
	branch = 27bc68ab458df6d8652763ea31059a11bcaf3f7d
[submodule "subs/glm"]
	path = subs/glm
	url = https://github.com/g-truc/glm
	branch = cc98465e3508535ba8c7f6208df934c156a018dc
